<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            font-family: 'Mukta', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            text-align: center;
            padding: 100px 20px;
        }

        h1 {
            font-size: 120px;
            margin-bottom: 10px;
            color: #e44d26;
        }

        p {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 25px;
        }

        a {
            color: #007bff;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Epa, põe-te na alheta.</p>
    <p><a href="/index">Salta daqui pra fora.</a></p>
</body>
</html>
