<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Game Vault Keys</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}"
          ><img
            src="{{ url_for('static', filename='logo.png') }}"
            alt=""
            width="60"
            height="45"
            class="d-inline-block align-text-top"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('index') }}"
                >Store</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('missions') }}">Quizzes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('livestreams') }}"
                >Livestreams</a
              >
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link d-inline-block" href="{{ url_for('cart') }}"
                >Cart</a
              >
            </li>
            <li class="nav-item">
              {% if current_user %}
              <a
                class="nav-link d-inline-block"
                href="{{ url_for('profile') }}"
              >
                Profile
              </a>
              <a class="nav-link d-inline-block" href="{{ url_for('logout') }}"
                >Logout</a
              >
              {% else %}
              <a class="nav-link d-inline-block" href="{{ url_for('login') }}"
                >Login</a
              >
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container mt-4">
      <div class="missions_menu">
          <h3>Quizzes</h3>
          <div class="quizz_bar">
            <p>Gaming Consoles</p>
            <a href="{{ url_for('quiz1') }}" style="margin-left: auto;">
              <button class="play_button">Play</button>
            </a>
          </div>
      
          <div class="quizz_bar">
            <p>Video Games</p>
            <a href="{{ url_for('quiz2') }}" style="margin-left: auto;">
              <button class="play_button">Play</button>
            </a>
          </div>

          <div class="quizz_bar" style="background-color: rgb(80, 80, 80); color: rgb(208, 208, 208);">
            <p>New Quiz coming soon...</p>
            <i class="material-icons" style="margin-left: auto;">&#xe192;</i>
          </div>
      </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
